@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background: #030712;

    --gold: #ffdf2b;

    --muted: 215 27.9% 16.9%;
    --muted-foreground: 217.9 10.6% 64.9%;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: var(--background);
  min-height: 100vh;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

h1 {
  @apply text-6xl font-bold py-4;
}

h2 {
  @apply text-4xl font-semibold py-3;
}

h3 {
  @apply text-2xl font-medium py-2;
}
