@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --foreground: #ffffff;
    --background: #030712;

    --gold: #ffdf2b;

    --muted: 215 27.9% 16.9%;
    --muted-foreground: 217.9 10.6% 64.9%;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  min-height: 100vh;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

/* scroll bar */
::-webkit-scrollbar {
  background-color: transparent;
  width: 10px;
}
::-webkit-scrollbar-thumb {
  @apply bg-gray-700;
}
::-webkit-scrollbar-thumb:hover {
  @apply bg-gray-600;
}

h1 {
  @apply text-6xl font-bold py-4;
}

h2 {
  @apply text-4xl font-semibold py-3;
}

h3 {
  @apply text-2xl font-medium py-2;
}

a {
  @apply underline text-blue-500;
}

/* Not an anchor tag */
.nota {
  @apply no-underline text-foreground;
}

/* accent button */
.accent-b {
  @apply rounded-md p-3 px-6 hover:bg-muted transition w-fit;
}

hr {
  @apply border-gray-600 my-2;
}

/* tag */
.tag {
  @apply px-4 py-1 nota rounded-2xl bg-muted;
}

code {
  @apply rounded-lg bg-gray-900 py-1 px-2;
}

input {
  @apply bg-transparent border border-muted py-2 px-3 rounded-md focus:outline-0;
}

button {
  @apply bg-gray-200 py-2 px-4 text-black rounded-md hover:bg-gray-200/90 transition;
}
